[(
    name: "The Village",
    npcs: [],
    player: None,
    descriptions: ["The sun shines on the quaint village", "It is pouring rain on the village"],
),
(
    name: "The Swamps",
    npcs: [],
    player: None,
    descriptions: ["A damp, dank swamp.", "It is raining in the swamp."],
),]