[(
    name: "Hallway",
    npcs: [],
    player: None,
    home_loc_type: None,
    school_loc_type: Some(Hallway),
    descriptions: ["The hallways is quiet between classes.", "Students mill through the hallway on their way to class."],
    power: 0.1,
),
(
    name: "Your Bedroom",
    npcs: [],
    player: None,
    home_loc_type: Some(Bedroom),
    school_loc_type: None,
    descriptions: ["The morning light shines through your window, illuminating your bedroom.", "With no light on, your room is covered in shadow."],
    power: 0.0,
),]